<nav class="navbar navbar-expand-md navbar-dark bg-dark ">
  <a class="navbar-brand" href="#"><img src="../static/fabicon.png" height="30" width="20">&nbsp;&nbsp;iPro70-FMWin</a>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</span></a>
      </li>
      <li class="nav-item active" >
        <a class="nav-link " href="/server" >Server</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/readme">Read Me</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link " href="/download">Download</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/citation">Citation</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/author">Authors</a>
      </li>
    </ul>
  </div>
</nav>
