{% extends 'layout.html' %}

{% block body %}
    <h1>Authors</h1>
    <table style="width:100%" class="table">
        <col width="20%">
        <col width="5%">
        <col width="75%">
    <tr>
        <td><img class="p-image" src="static/sr.jpg"></td>
        <td></td>
        <td>
            <p-name>Md. Siddiqur Rahman</p-name><br/>
            <p-info>Unergraduate Instructor and M.Sc. in CSE student<br/>
            Department of Computer Science and Engineering<br/>
            United International University, Bangladesh<br/>
            Email: ronicse59@gmail.com<br/>
            <a href="http://mrahman.pythonanywhere.com/" target="_blank">Profile</a></p-info>
        </td>

    </tr>
    <tr>
        <td><img class="p-image" src="static/us.jpeg"></td>
        <td></td>
        <td>
            <p-name>Usma Aktar</p-name><br/>
            <p-info>M.Sc. in CSE student<br/>
            Department of Computer Science and Engineering<br/>
            United International University, Bangladesh<br/>
            Email: usma.cse101@gmail.com<br/></p-info>
            <a href="https://sites.google.com/site/usmaaktar/resume" target="_blank">Profile</a></p-info>
        </td>
    </tr>
    <tr>
        <td><img class="p-image" src="static/mrz.jpg"></td>
        <td></td>
        <td>
            <p-name>Md. Rafsan Jani</p-name><br/>
            <p-info>Undergraduate Student<br/>
            Department of Computer Science and Engineering<br/>
            United International University, Bangladesh<br/>
            Email: rafsanjani.muhammod@gmail.com<br/></p-info>
            <a href="https://github.com/mrzresearcharena" target="_blank">Profile</a></p-info>
        </td>

    </tr>
    <tr>
        <td><img class="p-image" src="static/ss.jpg"></td>
        <td></td>
        <td>
            <p-name>Dr. Swakkhar Shatabda</p-name><br/>
            <p-info>Associate Professor & Undergraduate Program Coordinator<br/>
            Department of Computer Science and Engineering<br/>
            United International University, Bangladesh<br/>
            Email: swakkhar@cse.uiu.ac.bd<br/>
            <a href="http://cse.uiu.ac.bd/profiles/swakkhar/" target="_blank">Profile</a></p-info>
        </td>

    </tr>
</table>
{% endblock %}