<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>iPro70-FMWin</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/style.css">
        <link rel="shortcut icon" type="image/png" href="../static/fabicon.png"/>


    </head>
    <body >
        {% include 'includes/_navbar.html' %}

    <div class="container">
        {% block body %}{% endblock %}
    </div>


    <script scr="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    </body>
</html>